/* logo
-------------------------------------------------- */

.logo {
	background-image: url(../../images/header.png);
	height: 92px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 47px;
	margin-bottom: 10px;
	border-radius: 8px 8px 5px 5px; 
}