.stw-widget ul.stw-header {
    margin: 0 !important;
}

.stw-widget li.stw-tab {
    padding: 0 !important;
}

/* Style: Simple */
.stw-style-simple .stw-header {
    margin: 0;
    padding: 0; 
}

.stw-style-simple .stw-tab {
    margin: 0 4px 0 0;
    display: inline-block;
    zoom:1;
    *display:inline;
    background: #eee;
    border: 1px solid #666;
}

.stw-style-simple.stw-location-top .stw-tab { 
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

.stw-style-simple.stw-location-bottom .stw-tab { 
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.stw-style-simple .stw-tab a.stw-title {
    color: #666;
    font-size: 14px;
    line-height: 2em;
    display: block;
    padding: 0 8px;
    outline: none;
    text-decoration: none;
}

.stw-style-simple .stw-tab a.stw-title:hover {
    text-decoration: underline;
}

.stw-style-simple .stw-tab:last-child {
    margin-right: 0;
}

.stw-style-simple .stw-tab.stw-tab-active {
    border: 1px solid #666;
    background: #ffffff;
    position: relative;
}

.stw-style-simple.stw-location-top .stw-tab.stw-tab-active {
    border-bottom: none;
    top: 1px;
    padding-top: 6px;
}

.stw-style-simple.stw-location-bottom .stw-tab.stw-tab-active {
    border-top: none;
    bottom: 1px;
    padding-bottom: 6px;
}

.stw-style-simple .stw-tab.stw-tab-active a {
    color: #666;
    font-weight: bold;
}

.stw-style-simple .stw-container {
    background: #fff;
    border: 1px solid #666;
    padding: 10px;
    border-radius: 0 4px 4px 4px;
}

.stw-style-simple.stw-location-bottom .stw-container {
    border-radius: 4px 4px 4px 0;
}

/* Style: Elegant */
.stw-style-elegant .stw-header {
    margin: 0; 
    padding: 0;
}

.stw-style-elegant.stw-location-top .stw-header { 
    border-bottom: 1px solid #666;
    margin-bottom: 5px;
}

.stw-style-elegant.stw-location-bottom .stw-header { 
    border-top: 1px solid #666;
    margin-top: 5px;
}

.stw-style-elegant .stw-tab {
    margin: 0;
    display: inline-block;
    zoom:1;
    *display:inline;
}

.stw-style-elegant .stw-tab a.stw-title {
    color: #666;
    line-height: 2em;
    font-size: 14px;
    display: block;
    padding: 0 8px;
    outline: none;
    text-decoration: none;
}

.stw-style-elegant .stw-tab a.stw-title:hover {
    text-decoration: underline;
}

.stw-style-elegant.stw-location-top .stw-tab.stw-tab-active {
    border-bottom: 4px solid #666;
}

.stw-style-elegant.stw-location-bottom .stw-tab.stw-tab-active {
    border-top: 4px solid #666;
}

.stw-style-elegant .stw-tab.stw-tab-active a.stw-title {
    color: #666;
    font-weight: bold;
}

/* Style: Elegant Box */
.stw-style-elegant-box {
    border: 1px solid #666;
    padding: 10px;
    background: #ffffff;
}

.stw-style-elegant-box .stw-header {
    margin: 0; 
    padding: 0;
}

.stw-style-elegant-box.stw-location-top .stw-header { 
    border-bottom: 1px solid #666;
    margin-bottom: 5px;
}

.stw-style-elegant-box.stw-location-bottom .stw-header { 
    border-top: 1px solid #666;
    margin-top: 5px;
}

.stw-style-elegant-box .stw-tab {
    margin: 0;
    display: inline-block;
    zoom:1;
    *display:inline;
}

.stw-style-elegant-box .stw-tab a.stw-title {
    color: #666;
    line-height: 2em;
    font-size: 14px;
    display: block;
    padding: 0 8px;
    outline: none;
    text-decoration: none;
}

.stw-style-elegant-box .stw-tab a.stw-title:hover {
    text-decoration: underline;
}

.stw-style-elegant-box .stw-tab.stw-tab-active {
    position: relative;
}

.stw-style-elegant-box.stw-location-top .stw-tab.stw-tab-active {
    border-bottom: 4px solid #666;
}

.stw-style-elegant-box.stw-location-bottom .stw-tab.stw-tab-active {
    border-top: 4px solid #666;
}

.stw-style-elegant-box .stw-tab.stw-tab-active a.stw-title {
    color: #666;
    font-weight: bold;
}

.stw-style-elegant-box .stw-container {
    background: #fff;
    border: dashed #666 1px;
    padding: 10px;
}

.stw-style-elegant-box.stw-location-top .stw-container {
    margin-top: 10px;
}

.stw-style-elegant-box.stw-location-bottom .stw-container {
    margin-bottom: 10px;
}

/* Style: Classic */
.stw-style-classic .stw-header {
    margin: 0;
    padding: 0;
    background-color: #666;
    border: 1px solid #666;
    border-bottom: none;
    border-top: none;
}

.stw-style-classic.stw-location-top .stw-header { 
    border-radius: 4px 4px 0 0;
}

.stw-style-classic.stw-location-bottom .stw-header { 
    border-radius: 0 0 4px 4px;
}

.stw-style-classic .stw-tab {
    margin: 0;
    display: inline-block;
    zoom:1;
    *display:inline;
}

.stw-style-classic .stw-tab a.stw-title {
    color: #fff;
    font-size: 14px;
    line-height: 2.3em;
    display: block;
    padding: 0 8px;
    outline: none;
    text-decoration: none;
}

.stw-style-classic .stw-tab a.stw-title:hover {
    text-decoration: underline;
}

.stw-style-classic .stw-tab:last-child {
    margin-right: 0;
}

.stw-style-classic .stw-tab.stw-tab-active {
    background: #fff;
    position: relative;
}

.stw-style-classic .stw-tab.stw-tab-active a.stw-title {
    color: #666;
    font-weight: bold;
}

.stw-style-classic.stw-location-top .stw-tab:first-child {
    border-radius: 2px 0 0 0;
}

.stw-style-classic.stw-location-bottom .stw-tab:first-child {
    border-radius: 0 0 0 2px;
}

.stw-style-classic.stw-location-top .stw-tab.stw-tab-active {
    top: 1px;
}

.stw-style-classic.stw-location-bottom .stw-tab.stw-tab-active {
    bottom: 1px;
}

.stw-style-classic .stw-container {
    background: #fff;
    border: 1px solid #666;
    padding: 10px;
    border-radius: 0 0 4px 4px;
}

.stw-style-classic.stw-location-bottom .stw-container {
    border-radius: 4px 4px 0 0;
}

/* Style: Buttons */
.stw-style-buttons .stw-header {
    border-radius: 4px;
    margin: 0;
    padding: 4px;
    background-color: #666;
}

.stw-style-buttons.stw-location-top .stw-header {
    margin-bottom: 4px !important;
}

.stw-style-buttons.stw-location-bottom .stw-header {
    margin-top: 4px !important;
}

.stw-style-buttons .stw-tab {
    margin: 0 4px 0 0;
    display: inline-block;
    zoom:1;
    *display:inline;
    border-radius: 4px;
}

.stw-style-buttons .stw-tab a.stw-title {
    color: #fff;
    font-size: 14px;
    line-height: 2em;
    display: block;
    padding: 0 8px;
    outline: none;
    text-decoration: none;
}

.stw-style-buttons .stw-tab a.stw-title:hover {
    text-decoration: underline;
}

.stw-style-buttons .stw-tab:last-child {
    margin-right: 0;
}

.stw-style-buttons .stw-tab.stw-tab-active {
    background-color: #fff;
    position: relative;
    font-weight: bold;
}

.stw-style-buttons .stw-tab.stw-tab-active a.stw-title {
    color: #666;
}

.stw-style-buttons .stw-container {
    background: #fff;
    border: 1px solid #666;
    padding: 10px;
    border-radius: 4px;
}